body
{
	background-color: #005A00;
}
div
{
	text-align: center;
}
p
{
	text-align: left;
}
a
{
	color: black;
}
#header
{
	background-image: url("../images/header.png");	
	height: 200px;
}
h1
{
	background: url("../images/bg.png") no-repeat center;
}