body
{
	background-color: #005A00;
	font-family: calibri;
}
#container
{
	background-color: rgba(255,255,255,0.8);
}
div
{
	text-align: center;
}
p
{
	text-align: left;
}
#link
{
	width: 140px;
	font-size: 26px;
}
a
{
	color: black;
	text-decoration: none;
}
#header
{
	background-image: url("../images/header.jpg");
	height: 120px;
}
h1
{
	background-color: rgba(255,255,255,0.8);
	font-size: 40px;
}
#bar
{
	background: #CC0000;
}